version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: auth-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: authdb
    ports:
      - "5433:5432"

  backend:
    build: ./backend
    ports:
      - "5001:5001"
    environment:
      DB_HOST: postgres
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: authdb
      DB_PORT: 5432
      JWT_SECRET: supersecretkey
      PORT: 5001
    depends_on:
      - postgres

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
